<!--NAVIGATION-->

<a href="https://colab.research.google.com/github/bpesquet/machine-learning-katas/blob/master/data/Data_Analysis.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open in Google Colaboratory"></a>

# Kata: Data Analysis

Inspired by an activity in the [Open Machine Learning Course](https://mlcourse.ai/).

## Instructions

This is a self-correcting exercise generated by [nbgrader](https://github.com/jupyter/nbgrader). 

Complete the cells beginning with `# YOUR CODE HERE` and run the subsequent cells to check your code.

## Part 1 : Loading data

In [1]:
# Import required libraries
import numpy as np
import pandas as pd

### Question

Use Pandas to load the dataset located [here](https://raw.githubusercontent.com/bpesquet/machine-learning-handbook/master/datasets/athlete_events.csv), which was extracted from this [Kaggle competition](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/). Store it into a DataFrame named `df_olympics`.

In [2]:
df_olympics = pd.read_csv("C:/Users/User/Documents/GitHub/Friday4_task/ai-f20-m3/d2_continued_ml/athlete_events.csv")

In [3]:
print(f'df_olympics: {df_olympics.shape}')
assert isinstance(df_olympics, pd.DataFrame)
assert df_olympics.shape == (271116, 15)

df_olympics: (271116, 15)

## Part 2: Exploring data

### Question

Print general information about the DataFrame.

In [6]:
df_olympics.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

### Question

Print and observe the first 10 records of the dataset.

In [10]:

print(df_olympics.iloc[:10])

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands
5   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands
6   5  Christine Jacoba Aaftink   F  25.0   185.0    82.0     Netherlands
7   5  Christine Jacoba Aaftink   F  25.0   185.0    82.0     Netherlands
8   5  Christine Jacoba Aaftink   F  27.0   185.0    82.0     Netherlands
9   5  Christine Jacoba Aaftink   F  27.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season         City          Sport  \
0  CHN  1992 Summer  1992  Summer    Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer       London           Judo
2  DEN  1920 Summer  1920  Summer    Antwerpen       Football
3  DEN  1900 Summer  1900  Summer        Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter      Calgary  Speed Skating
5  NED  1988 Winter  1988  Winter      Calgary  Speed Skating
6  NED  1992 Winter  1992  Winter  Albertville  Speed Skating
7  NED  1992 Winter  1992  Winter  Albertville  Speed Skating
8  NED  1994 Winter  1994  Winter  Lillehammer  Speed Skating
9  NED  1994 Winter  1994  Winter  Lillehammer  Speed Skating

                                Event Medal
0         Basketball Men's Basketball   NaN
1        Judo Men's Extra-Lightweight   NaN
2             Football Men's Football   NaN
3         Tug-Of-War Men's Tug-Of-War  Gold
4    Speed Skating Women's 500 metres   NaN
5  Speed Skating Women's 1,000 metres   NaN
6    Speed Skating Women's 500 metres   NaN
7  Speed Skating Women's 1,000 metres   NaN
8    Speed Skating Women's 500 metres   NaN
9  Speed Skating Women's 1,000 metres   NaN

### Question

Print and observe 5 random records of the dataset.

In [11]:
print(df_olympics.sample())

            ID              Name Sex   Age  Height  Weight       Team  NOC  \
203647  102241  Alejandro Romano   M  22.0     NaN     NaN  Argentina  ARG

              Games  Year  Season     City       Sport  \
203647  1996 Summer  1996  Summer  Atlanta  Volleyball

                              Event Medal
203647  Volleyball Men's Volleyball   NaN